:root {
  --main-color: #2196f3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
}

/* Start Header */
header {
  box-shadow: 0px 1px 20px -5px rgb(0 0 0 / 26%);
  background-color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media (max-width: 768px) {
  header .container {
    flex-direction: column;
    gap: 5px;
  }
}
header nav,
.logo {
  display: flex;
  align-items: center;
  height: 70px;
}

.logo {
  color: #2196f3;
  font-size: 26px;
  font-weight: bold;
}

.menu {
  list-style: none;
}

.menu > li {
  display: flex;
  align-items: center;
  height: 100%;
}

.menu > li > a::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  top: 0;
  left: -100%;
  background-color: #2196f3;
  transition: 0.3s;
}

.menu > li > a:hover::before {
  left: 0;
}

.menu > li > a:hover {
  color: #2196f3;
  background-color: #fafafa;
}
.menu > li > a {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  color: rgba(0, 0, 0, 0.801);
  font-size: 18px;
  padding: 0 30px;
  overflow: hidden;
  transition: 0.3s;
}
@media(max-width:768px){
    .menu > li > a{
        font-size: 14px ;
        padding: 0 20px ;
    }
    .logo,.menu{
        height: 40px ;
    } 
}
header img{ 
     max-width: 110%;
}
@media(max-width:992px){
    header .image{
           display: none;
    }
}
.mega-menu{
    position: absolute;
    display: flex;
    background-color: white;
    gap: 40px;
    padding: 30px;
    justify-content: center;
    top: calc(100% + 50px);
    width: 100%;
    left: 0;
    border-bottom: 5px #2196f3 solid;
    z-index: -1;
    opacity: 0;
    transition: top 0.3s,opacity 0.3s;
}
.menu > li:last-child:hover .mega-menu{
      opacity: 1;
      z-index: 2;
      top: calc(100% + 1px);
}
@media(max-width:992px){
      .mega-menu{
          padding: 10px;
      }
      .links a{
          font-size: 16px !important;
      }
      .links{
          width: 50%;
      }
}
@media(max-width:786px){
    .mega-menu{
           flex-direction: column;
           gap: 0;
      }
    .mega-menu > .links:last-child > li:first-child{
           border-top: solid 1px rgba(0, 0, 0, 0.192);
    }
    .links{
        width: 100%;
    }
    .links li{
          padding: 5px 0 !important;
    }
}
.links{
    list-style: none;
    min-width: 250px;
}
.links > li:not(.links > li:last-child){
    border-bottom: 1px solid rgba(0, 0, 0, 0.192);
}
.links li{
    padding: 10px 0;
    position: relative;
    z-index: 1;
}
.links li::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: #f1ececa8;
    transition: 0.3s;
    z-index: -1;
}
.links li:hover::before{
    width: 100%;
}
.links i{
    margin: 0 10px;
    font-size: 17px;
}
.links a,.links i{
    color: #2196f3;
}
.links a{
    font-size: 20px;
    font-weight: 700;
}
/* End Header */
/* Start Landing */
.landing .container{
    padding-top: 60px;
    padding-bottom: 120px;
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    grid: 50px;
}
.landing{
    position: relative;
}

.landing::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -40px;
    left: 0;
    background-color: #ececec;
    z-index: -2;
    transform: skewY(-6deg);
    transform-origin: top left;  
}
#move-down{
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     bottom: 20px;
}
.landing .image{
    width: 600px;
}
.landing h1{
     font-size: 2.3rem;
}
.intro-text p{
    max-width: 500px;
    line-height: 1.7;
    margin: 5px 0 0;
    font-size: 1.4rem;
    color: #666;
}
.landing img{
    position: relative;
    max-width: 100%;
    animation: up-and-down 5s linear infinite ;
}
@media (max-width:992px){
    .landing .image{
        display: none;
   }
   .landing .intro-text{
       text-align: center;
       margin-left: auto;
       margin-right: auto;
   }
}
@media  (max-width:768px){
     .landing .intro-text p{
               font-size: 16px;
     }
     .landing .intro-text h1{
               font-size: 1.8rem;
     }
}
/* End Landing */

/* Start Articles */
.articles{
  padding: 100px 0;
}
.main-title{
    text-transform: uppercase;
    border: 2px solid black;
    margin: 0 auto 80px;
    font-size: 1.7rem;
    padding: 0 20px;
    width: fit-content;
    position: relative;
    z-index: 100;
}

.main-title::before,.main-title::after{
  content: "";
  position: absolute;
  z-index: -1;
  width: 10px;
  height: 10px;
  background-color: #2196f3;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::after{
  right: -30px;
}
.main-title::before{
  left: -30px;
}
.main-title:hover::after{
  animation: right-move 0.5s linear forwards;
}
.main-title:hover::before{
  animation: left-move 0.5s linear forwards;
}
.main-title:hover{
  transition-delay: 0.5s;
  color: white;
  border: 2px solid white;
}
.articles .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap: 40px;
}
.articles .box img{
    max-width: 100%;
    
}
.articles .box{
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     overflow: hidden;
     box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
     line-height: 1;
    transition: 0.3s;
}
.articles figcaption{
      padding: 20px;
}
.articles figcaption p{
    margin-top: 10px;
    color: #777;
    font-size: 15px;
    line-height: 1.6;
}
.articles .info{
  position: relative;
     border-top: 1px solid #e6e6e7;
     padding: 20px;
}
.articles .box .info a{
    color: #2196f3;
    font-weight: 700;
    font-size: 15px;
}
.articles .box .info i{
     position: absolute;
     right: 22px;
     color: #2196f3;
     font-size: 15px;
}
.articles .box:hover{
    transform: translateY(-10px);
}
.articles .box:hover .info i{
    animation: moving-arrow 0.6s linear infinite;
}
/* End Articles */
/* Start Gallery */
.gallery{
  position: relative;
  padding: 100px 0;
  background-color: #ececec;
  z-index: 1;
}
.gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}

.gallery .pic{
  padding: 15px;
  background-color: white;
  line-height: 0;
  box-shadow: 0px 2px 10px  rgba(0, 0, 0, 10%);
}
.gallery .image{
  position: relative;
  overflow: hidden;
}
.gallery .pic img{
  max-width: 100%;
  transition: 0.3s;
}
.gallery .image:hover img{
     transform: rotate(5deg) scale(1.1);
}
.gallery .image::before{
  content: "";
  position: absolute;
  background-color: rgb(255 255 255 / 20%);
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  z-index: 2;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .image:hover:before{
      animation: flashing 0.7s;
}
/* End Gallery */
/* Start features */
.features{
    padding: 100px 0;
}
.features .container{
     display: grid;
     grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
     gap: 40px;
}
.features .feature{
  border: 1px solid #ccc; 
}
.features .feature > .info h2{
     font-size: 2.3rem;
     border-bottom: 5px solid;
     width: fit-content;
     margin: 0 auto;
}
.features .quality h2{
  border-color: red !important;
}
.features .time h2{
  border-color: green !important;
}
.features .passion h2{
    border-color: #2196f3 !important;
}
.features .feature .info p{
  color: #777;
  padding: 0 25px;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  line-height: 2.2;
  margin-top: 30px;
  margin-bottom: 30px;
}

.features .feature .info a{
  position: relative ;
      border-radius: 5px;
      display: block;
      width: fit-content;
      margin: 0 auto 15px;
      padding: 3px 30px ;
      font-weight: bold; 
      font-size: 18px;
      transition: 0.44s;
}
.features .quality .info a{
  border: red solid 3px ;
  color: red;
}
.features .time .info a{
  border: green solid 3px ;
  color: green;
}
.features .passion .info a{
  border: #2196f3 solid 3px ;
  color: #2196f3;
}
.features .quality .info a::before{
    background-color: red;
}
.features .time .info a::before{
  background-color: green;
}
.features .passion .info a::before{
  background-color: #2196f3;
}
.features .feature .info a::before{
    position: absolute;
    content: "";
    height: 0;
    height: calc(100% + 2px);
    width: 0;
    top: -1px;
    left: -1px;
    z-index: -1;
    transition: 0.44s;
}
.features .feature .info a:hover::before{
     width: calc(100% + 2px);
}
.features .feature .info a:hover{
  color: white;
}
.features .feature img{
    max-width: 100% !important;
}
.features .image{
   position: relative;
   line-height: 0;
}
.features .image::before{
     position: absolute;
     content: "";
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}
.features .quality .image::before{
  background-color: rgba(255, 0, 0, 0.377);
}
.features .time .image::before{
  background-color: rgba(0, 128, 0, 0.425);
}.features .passion .image::before{
  background-color: #2195f38a;
}
.features .feature .image::after{
     position: absolute;
     content: "";
     bottom: 5px;
     left: 5px;
     border: 100% white solid;
}
/* End features */
/* Start Testimonials */
.testimonials{
  padding: 100px 0;
  background-color: #ececec;
}

.testimonials .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr)) !important;
  gap: 40px;
}
.testimonials .box{
  position: relative;
  background-color: white;
  box-shadow: 0px 1px 10px -3px rgba(2, 2, 2, 0.445);
  line-height: 1.15;
}
.testimonials img{
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #ececec;
  top: 0;
  right: 0;
  transform: translateY(-50%) translateX(10px);
}
.testimonials .box{
    border-radius: 6px;
}
.testimonials .container .info{
  padding: 22px;
}
.testimonials h3{
  margin-bottom: 5px;
}
.testimonials span{
  color : #777 ;
  font-size: 15px;
}
.testimonials p{
  margin-top: 5px;
  color: #777;
  font-size: 15px;
  line-height: 1.4;
}
.testimonials .stars{
  margin-top: 5px;
}
.testimonials i{
  color: rgb(255, 196, 0);
}
/* End Testimonials */
/* start Team */
.team{
  padding: 120px 0;
}
.team .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.team .box{
  position: relative;
  border-radius: 8px;
  
}
.team .box::before,.team .box::after{
  position: absolute;
  content: "";
  height: 100%;
  border-radius: 10px;
  right: 0;
  top: 0;
  transition: 0.3s;
}
.team .box::before{
     background-color: #f8f5f5;
     width: calc(100% - 60px);
     z-index: -3;
}
.team .box::after{
   background-color: #ececec;
   z-index: -1;
   width: 0;
}
.team .box:hover::after{
    width: calc(100% - 60px);
}
.team img{
  border-radius: 10px;
  max-width: calc(100% - 60px);
  z-index: 1;
  transition: 0.3s;
}
.team .box:hover img{
  filter: grayscale(100%);
}
.team .data{
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.team .social{
   display: flex;
   flex-direction: column;
   gap: 20px;
   align-items: center;
  width: 60px;
}
.team .social a{
    display: flex;
    justify-content: center;
}
.team .social i{
  color: #777;
  font-size: 17px;
  transition: 0.3s;
}
.team .social i:hover{
  color: #2196f3;
}
.team .info{
  padding-left: 90px;
  padding-top: 10px;
  padding-bottom: 20px;
  line-height: 1.5;
}
.team .info  h3{
  color: #2196f3;
  font-size: 1.3rem;
}
.team .info p{
    font-size: 15px;
}
/* End Team */
/* Start Services */
.services{
  padding: 100px 0;
  background-color: #ececec;
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}
.services .srv{
    position: relative;
    background-color: white;
    text-align: center;
    line-height: 1.15;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: 0.3s; 
 }/*
.services .srv::before{
     position: absolute;
     content: "";
     width: 0;
     height: 3px;
     background-color: #2196f3;
     top: -3px;
     left: 50%;
     transform: translateX(-50%);
     transition: 0.3s;
}
.services .srv:hover::before{
    width: 100%;
}
.services .srv:hover{
   transform: translateY(-5px);
}
.services .srv i{
    margin-top: 40px;
    color: #ececec;
}
.services  .srv > h3{
  color: #2196f3;
  font-size: 1.4rem;
  width: fit-content;
  margin: 20px auto 0;
 } */
/*.services .info{
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    margin-top: 40px;
    padding: 5px;
}
.services .info h3{
     height: fit-content;
     width: fit-content;
     margin-left: 20px;
     font-size: 1.6rem;
     color: white;
     z-index: 1;
}
.services .info::before{
     position: absolute;
     content: "";
     height: 210%;
     background-color: #2196f3;
     width: 100%;
     left: -46%;
     top: 0;
     transform: rotate(120deg);
     z-index: 1;
}
.services .info::after{
  position: absolute;
  content: "";
  height: 200%;
  background-color: #d5d5d5;
  width: 100%;
  left: -34%;
  top: 0;
  transform: rotate(120deg);
}
.services .info a{
  color: #2196f3;
  margin-right: 10px;
} */
/* End Services */

/* Start Our-skills */
.our-skills{
    padding: 100px 0;
}
.our-skills .container{
  display: flex;
  justify-content: center;
  gap: 40px;
}
.our-skills .skills{
  width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.our-skills .skill{
  display: flex;
  flex-direction: column;
}

.our-skills img{
   width: 450px;
   /* max-width: 50%; */
}
@media(max-width:992px){
     .our-skills img{
         display: none;
     }
     .our-skills .skills{
       width: 90%;
     }
}
.our-skills .progress{
     height: 25px;
     width: 100%;
     background-color: #ececec;
}
.our-skills .progress div{
  background-color: #2196f3;
  height: 100%;
}
.our-skills .skill h3{
  margin-bottom: 10px;
  display: block !important;
  width: 100%;
  font-size: 1.4em;
}
.our-skills .skill h3 span{
   line-height: 1.15;
   float: right;
   color: #2196f3;
   border: #ccc 1px solid;
   padding: 3px 5px;
   border-radius: 4px;
   font-size: 12px;
}
/* End Our-skills */
/* Start Work-steps */
.work-steps{
  padding: 100px 0;
  background-color: #ececec;
}
.work-steps .container{
    line-height: 1.15;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 100px;
}
@media(max-width:992px){
  .work-steps .container{
    justify-content: center ;
    flex-direction: column ;
  }
  .work-steps .image{
    margin-left: auto;
    margin-right: auto;
  }
  .work-steps .steps{
      width: 100% !important;
  }
}
@media(max-width:1200){
    .work-steps .box p{
        font-size: 16px;
        line-height: 1.4;
    }
}
.work-steps .steps{
     display: flex;
     flex-direction: column;
     gap: 20px;
     width: 50%;
}
.work-steps .steps .box{
  overflow: hidden;
  position: relative;
    display: flex;
    align-items: center;
    background-color: #fafafa;
    border: 3px solid white;
    border-radius: 5px;
    padding: 30px;
    z-index: 1;
  }
.work-steps .steps .box::before{
      position: absolute;
      content: "";
      background-color: #ececec;
      width: 0;
      height: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      transition: 0.2s;
      z-index: -1;

}


.work-steps .steps .box p{
  margin-top: 5px;
  color: #777;
  line-height: 1.6;
  font-size: 18px;
  text-align: start;
}
.work-steps .steps .box h3{
  font-size: 1.4rem;
}
.work-steps .image{
  display: flex;
  align-items: center;
}
.work-steps .image img{
  max-width: 100%;
}
.work-steps  .box img{
    width: 65px ;
    height: 65px;
    margin-right: 30px;
} 

/* End Work-steps */
/* Start Events */
.events{
   padding: 80px 0;
}
.events .main-title{
  margin-bottom: 60px !important;
}
.events .container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.events .image img{
    max-width: 450px !important;
}
.events .info{
  max-width: 50%;
}
.events .timer{
  display: flex;
    align-items: center;
    margin: 20px auto;
    gap: 10px;
    justify-content: center;
}
.events .timer .unit{
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  text-align: center;
  width: 75px;  
  transition: 0.3s;
}
.events .unit span{
  display: block;
  font-size: 14px;
  transition: 0.3s;
}
.events .unit span:first-child{
  font-size: 35px;
  padding: 2px 10px;
  color: var(--main-color);
  font-weight: bold;
}
.events .unit span:last-child{
  padding: 5px 10px;
  font-size: 13px;
  border-top: 1px solid #d4d4d4;
}
.events .info .timer .unit:hover,
.events .info .timer .unit:hover span:last-child {
  border-color: var(--main-color);
}
.events .text h2{
  text-align: center;
  margin: 40px 0 0;
  font-size: 30px;
}
.events .text p{
   color: #777;
   font-size: 18px;
   line-height: 1.5;
   text-align: center;
}
.emailing{
  margin-top: 40px;
  text-align: center;
  width: 100%;
}
.emailing form{
   margin: 0 auto;
   width: 600px;  
   background-color:#f6f5f5;
   padding: 27px 30px;
   border-radius: 50px;
   display: flex;
   gap: 20px;
  caret-color: var(--main-color);
  justify-content: center;
}
.emailing form input:first-child{
  border: 0;
  width: 70%;
  padding: 20px 20px;
  border-radius: 50px;
}
.emailing form input:first-child:focus{
    outline: none;
}

.emailing form input:last-child{
   background-color: var(--main-color);
   border: none;
   color: white;
   padding: 20px;
   border-radius: 50px;
   font-weight: bold;
   font-size: 15px;
   transition: 0.3s;
}
.emailing form input:last-child:hover{
   background-color: #1672bd;
}
@media(max-width:767px){
  .events .emailing form{
    width: 400px;  
 }
}
@media(max-width:991px){
  .events .image{
    display: none;
  }
  .events .info{
    max-width: none;
  }
}
/* End Events */

/* Strat Pricing */
.pricing{
  background-color: #ececec;
  padding: 100px 0;
  position: relative;
}
.pricing .container{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.pricing .container .box {
  position: relative;
  z-index: 1;
  background-color: white;
  text-align: center;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}
.pricing .box::before,
.pricing .box::after{
   position: absolute;
   content: '';
   background-color: #efefef;
   height: 50%;
   width: 0;
   transition: 0.3s;
   z-index: -1;
}
.pricing .box::before{
   top: 0;
   left: 0;
}
.pricing .box::after{
  bottom: 0;
  right: 0;
}
.pricing .box:hover::before,
.pricing .box:hover::after {
  width: 100%;
}
.pricing .box h3{
   font-weight: bold;
   font-size: 1.5em;
   margin-top: 20px;    
   letter-spacing: -1px;
}
.pricing .price{
  margin-bottom: 25px;
}
.pricing .box span{
  display: block;
  line-height: 1.1;
}
.pricing .box span:first-child{
    color: var(--main-color);
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 5px;
}
.pricing .box span:last-child{
   color: #777;
   font-size: 15px;
}
.pricing img{
  width: 80px;
  margin: 16px 0;
}
.pricing .box ul{
  list-style: none;
  text-align: left;
}
.pricing ul li{
  font-size: 15px;
  padding: 12px;
  border-top: 1px solid #eee;
}
.pricing .box ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 12px;
  font-weight: bold;
  color: var(--main-color);
}
.pricing .box a{
  display: block;
  width: fit-content;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  margin: 20px auto 30px;
  padding: 8px 20px;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s;
}
.pricing .box a:hover{
   background-color: var(--main-color);
   color: white;
}
.pricing .popular{
    transform: translateY(-18px);
    position: relative;
}
.pricing .label{
  position: absolute;
  writing-mode: vertical-rl;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 10px 10px 35px 10px;
  font-size: 18px;
  right: 20px;
  top: 0;
  width: 40px;
  display: flex;
  align-items: center;
}
.pricing .label::before{
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  border-style: solid;
  border-color: transparent transparent white;
  border-width: 20px;
}
@media(max-width:1200px){
.pricing .popular{
  transform: translateY(0);
}
}
/* End Pricing */

/* Start Videos */
.videos{
  padding: 100px 0;
}
.videos .holder{
  display: flex;
  background-color: #e2e2e2;
  justify-content: center;
}
.videos .preview img{
  max-width: 100%;
}
.videos .holder .list > div{
      display: flex;
      justify-content:space-between ;
      align-items: center;
      padding: 20px;
      background-color: #f4f4f4;
}
.videos .holder ul {
     background-color: white;
     list-style: none;
     line-height: 1;
}
.videos ul li{
    border: 1px solid #f4f4f4;
    font-size: 15px;
    padding: 20px;
    cursor: pointer;
    min-width: 280px;
    transition: 0.3s;
}
.videos .list ul li:hover{
     color: var(--main-color);
     background-color: #fafafa;
}
.videos ul li > span{
  display: block;
  margin-top: 10px;
}
.videos .name span{
   font-weight: bold;
}
.videos ul li > span{
  color: #777;
  font-size: 14px;
}
.videos .preview{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.videos .preview .info{
  background-color: white;
  padding: 20px;
}
@media(max-width:991px){
    .videos .holder{
        flex-direction: column;
    }
    .videos .preview{
      gap: 10px;
    }
}
/* End Videos */

/* Start Stats */
.stats{
  position: relative;
   padding: 100px 0;
   background-image: url(../images/stats.jpg);
   background-size: cover;
   min-height: 300px;
}
.stats::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 95%);
} 
.stats .title{
  position: relative;
    text-align: center;
    color: black;
    z-index: 1 !important;
    margin-bottom: 40px;
}
.stats .container{
  display: grid;
  grid-template-columns:repeat(auto-fill,minmax(250px,1fr)) ;
  justify-content: center;
  gap: 20px;
}
.stats .box{
  line-height: 1.50;
  padding: 30px 10px;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.stats .box::before,
.stats .box::after{
  position: absolute;
  content: '';
  width: 1.6px;
  background-color: var(--main-color);
  height: 0;
  transition: 1s;
}
.stats .box::before{
  bottom: 0;
  left: -1px;
}
.stats .box::after{
  top: 0;
  right: -1px;
}
.stats .box:hover::before,
.stats .box:hover::after{
  height: 100%;
}

.stats .box i{
  width: 100%;
  text-align: center;
}
.stats .number{
  font-size: 50px;
  font-weight: bold;
}
.stats .text{
  color: var(--main-color);
  font-weight: bold;
  font-size: 22px;
  font-style: italic;
}
.stats i{
  font-size: 2.2em;

}
/* End Stats */
/* Start Discount */
.discount{
  min-height: 100vh;
  display: flex;
}

.discount form{
  max-width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.discount input,textarea{
  border: none;
  background-color: #f9f9f9;
  padding: 10px;
  border-bottom: #cccccc solid 1px;
}
.discount input[type='submit']{
   background-color: var(--main-color);
   color: white;
   font-weight: bold;
   font-size: 1.2em;
}
.discount .request{
   width: 50%;
}
.discount .explain{
      position: relative;
      background-image: url(../images/discount-background1.jpg);
      background-size: cover;
      width: 50%;
}
.discount .explain *{
  position: relative;
  text-align: center;
  color: white;
}
.discount .explain::before{
    position: absolute;
    content: '';
    background-color: rgb(23 135 224 / 97%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.discount p{
  font-size: 16px;
  margin: 0 100px;
  padding: 10px 30px;
  line-height: 1.7;
}
.discount .explain .title{
    margin-top: 100px;
}
.discount .request .title{
  margin-top: 60px;
}
.discount img{
  max-width: 270px;
}
.discount .holder form{
    margin: 25px auto auto;
} 
@media(max-width:992px){
  .discount{
   flex-direction: column;
  }
  .discount > *{
   width: 100% !important;
  }
  .discount .title{
   margin-top: 30px !important;
  }
}
@media (max-width:768px){
    .discount p{
         margin: auto 50px;
         padding: 0;
    }
}
/* End Discount */

/* Start Footer */
footer{
  background-color: #191919;
  color: white;
  padding: 70px 0 0;
}
@media(max-width:768px){
   footer {
    text-align: center;
   }
   footer .social{
    justify-content: center;
  }
}
footer ul{
  list-style: none;
}
footer .container{
     display: grid;
     grid-template-columns: repeat(auto-fill,minmax(255px,1fr));
     gap: 40px;
}

footer .galleryF img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}
footer .box .title{
     font-size: 3.3rem;
}
footer .social{
  display: flex;
  gap: 10px;
}
footer .social i{
  display: flex;justify-content: center;align-items: center;
   color: #b9b9b9;
   font-size: 24px;
   width: 48px;
   height: 48px;
   background-color: #313131;
}
footer p{
  margin-top: 20px;
  font-size: 15px;
  color: #b9b9b9;
  line-height: 1.8;
}
footer .info{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
footer .info li{
    display: flex;
    gap: 15px;
}
footer .info i{
   color: var(--main-color);
   font-size: 25px;
   margin-top: 7px;
}
footer *{
  font-size: 15px;
}
footer .linkss li{
   position: relative;
   padding: 11px;
   border-bottom: #777 solid 1px;
   transition: 0.3s;
}
footer .linkss li:hover{
    padding-left: 20px;
}
footer .linkss li:last-child{
  border: none;
}
footer .box .linkss li:before{
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  color: var(--main-color);
  font-size: 14px;
  margin-right: 12px;
}
footer .box .facebook i:hover {
  background-color: #1877f2 !important;
}
footer .box .twitter i:hover {
  background-color: #1da1f2;
}
footer .box  .youtube i:hover {
  background-color: #ff0000;
}
footer .copyright{
    margin-top: 40px;
    border-top: 1px solid #444;
    padding: 18px;
    text-align: center;
}
/* End Footer */

/* Start Animation */

@keyframes flashing {
  0.40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
@keyframes moving-arrow {
      100%{
        transform: translateX(10px);
      }
}
@keyframes up-and-down {
  0%,100% {
    top: 0 ;
    
  }
  50% {
    top: -50px;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50.2%;
    height: 100%;
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}

/* End Animation */
/*--------------------- Start Global rulees------------------------ */
html{
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container,
  .mega-menu {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container,
  .mega-menu {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container,
  .mega-menu {
    width: 1170px;
  }
}

  /*--------------------- End Global rulees------------------------ */
